{% extends 'customer/base.html' %}
{% load static %}
{% block header %}

{% endblock%} 
{{block.super}}


{% block content%}

<div class="row pt-4 align-items-center gy-4  ">
  
  {% for product in products %}
  
      <div class="col-lg-3 col-md-6 col-sm-12 mx-sm-auto">
        <a href="{% url 'customer:product_details' product.id %}" class=" text-decoration-none">
          <div class="card " style="width: 16rem;">
           <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            <div class="card-body">
             <h5 class="card-title text-dark text-decoration-none">{{ product.product_name }}</h5>
             <p class="card-text text-warning">Rs . {{ product.price }}</p>
  
             <a href="#" class="btn btn-dark mt-3">Add to Cart</a>
            </div>
          </div>
        </a>
      </div>
  
  {% endfor %}
    
</div>


    <!-- second row -->

    







{% endblock%} 
