{% extends 'customer/base.html' %}
{% load static %}
{% block header %}

{% endblock%} 
{{block.super}}


{% block content%}


  <div class="container p-5">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mx-auto">
            <img class="card-img-top border-2" src="{{ product_details.image.url }}" alt="Card image cap" height="400px">
            
        </div>
        <div class="col-lg-6 col-sm-12 mx-auto my-auto ">
            <form method="POST">
                {% csrf_token %}

            <h3 class="card-title">{{ product_details.product_name }}</h3>
            <p class="card-text text-warning fw-bold">Rs . {{ product_details.price }}</p>
  
            <p class="card-text text-dark">Description : {{ product_details.description }}</p>
            <p class="card-text text-danger">Stock :{{ product_details.stock }}</p>
            <p class="card-text text-dark">Seller is :{{ product_details.seller.seller_name }}</p>
            
             <button    class="btn btn-dark mt-3">Add to Cart</button>
             <h6 class="text-danger text-center bg-white">{{ message }}</h6>

            </form>

        </div>

    </div>
  </div>










{% endblock%} 
